[Unit]
Description=Machine Head Discord Bot 

[Service]
Type=simple
ExecStartPre=/bin/sleep 15
ExecStart=/var/home/strat/bin/deckard

[Install]
WantedBy=default.target
