[Unit]
Description=Machine Head Discord Bot 

[Service]
Type=simple
WorkingDirectory=/home/strat/proj/deckard
ExecStartPre=/bin/sleep 15
ExecStart=/home/strat/proj/deckard/bin/deckard
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
