[Unit]
Description=Machine Head Discord Bot 

[Service]
Type=simple
ExecStartPre=/bin/sleep 15
ExecStart=/var/home/strat/bin/deckard
Restart=on-failure
StandardOutput=append:/home/strat/log/deckard.log
StandardError=append:/home/strat/log/deckard.log

[Install]
WantedBy=default.target
